# .dockerignore - Improved
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/publish
**/publish-output
**/published-app
**/node_modules
**/test-*
**/*.dockerignore
**/*.pubxml
**/*.user
**/*.suo
**/Dockerfile*
**/docker-compose*
README.md
*.zip
*.rar
*.7z
