@using EmployeeInformations.Model.APIModel;
@model List<WebsiteSoftwareConsultant>
@{
    ViewBag.Title = "SoftwareConsultant";
    Layout = "_Layout";
}

<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Software Consultant Details</h3>
        </div><!-- .nk-block-head-content -->        
    </div><!-- .nk-block-between -->
</div>



<div class="card card-bordered card-preview">
    <div class="card-inner table-card">
        <table class="display employee-holiday-table mb-3 no-sorting-table" style="width:100%" data-auto-responsive="false" id="getProjectData">
            <thead>
                <tr class="nk-tb-item table-header">
                    <th class="nk-tb-col"><span class="sub-text">Quote Name</span></th>
                    <th class="nk-tb-col tb-col"><span class="sub-text">Survey Question</span></th>
                    <th class="nk-tb-col tb-col"><span class="sub-text">Survey Option</span></th>
                    <th class="nk-tb-col tb-col"><span class="sub-text">Survey Answer</span></th>
                </tr>
            </thead> 
            <tbody>
                @if(Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr class="nk-tb-item ">
                            <td class="nk-tb-col tb-col">
                                <b class="tb-sub text-primary">@item.QuoteName</b>
                            </td>
                            <td class="nk-tb-col tb-col">
                                <span> @item.QuestionName</span>
                            </td>
                            <td class="nk-tb-col tb-col">
                                <span>@item.OptionName</span>
                            </td>

                            <td class="nk-tb-col tb-col">
                                <span>@item.SurveyAnswer </span>
                            </td>
                        </tr>
                    }
                }               
            </tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {

        $.fn.dataTable.moment('DD/MM/YYYY');

        $('#getProjectData').DataTable({
            "bInfo": true,
            "paging": true,           
        });
    });

</script>
