@using EmployeeInformations.Model.ProjectSummaryViewModel;
@using EmployeeInformations.Common.Enums
@model List<ProjectDetails>
@{
    ViewBag.Title = "Project";
    Layout = "_Layout";
    // var roleId = Context.Session.GetInt32("RoleId");
}

<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Project Details</h3>
        </div><!-- .nk-block-head-content -->
        <div class="d-flex mb-1">
            @Html.ActionLink("Create", "CreateProject", "ProjectDetails", null, new { @class = "btn btn-primary ml-auto mt-auto mb-auto btn-sm" })
        </div>
    </div><!-- .nk-block-between -->
</div>

<div class="card card-bordered card-preview">
    <div class="card-inner table-card">
        <table class="display employee-holiday-table mb-3 no-sorting" style="width:100%" data-auto-responsive="false" id="getProjectData">
            <thead>
                <tr class="nk-tb-item table-header">
                    <th class="nk-tb-col" data-id="clientCompanyName"><span class="sub-text">Customer Company</span></th>
                    <th class="nk-tb-col tb-col" data-id="projectName"><span class="sub-text">Name</span></th>
                    <th class="nk-tb-col tb-col" data-id="projectTypeName"><span class="sub-text">Service Type</span></th>
                    <th class="nk-tb-col tb-col" data-id="projectDescription"><span class="sub-text">Description</span></th>
                    <th class="nk-tb-col tb-col" data-id="technologyName"><span class="sub-text">Technology</span></th>
                    @* <th></th> *@
                    @* <th class="nk-tb-col tb-col"><span class="sub-text">Developers</span></th>
                    <th class="nk-tb-col tb-col"><span class="sub-text">Team Lead</span></th>
                    <th class="nk-tb-col tb-col"><span class="sub-text">Project Manager</span></th>*@
                    <th class="nk-tb-col tb-col"><span class="sub-text">Action</span></th>
                    @*<th class="nk-tb-col nk-tb-col-tools">
                    <div class="nk-tb-col py-0 border-0">
                    Action
                    <ul class="nk-tb-actions gx-1 my-n1">
                    <li class="me-n1">
                    <div class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"></a>
                    </div>
                    </li>
                    </ul>
                    </div>
                    </th>  *@
                </tr>
            </thead>
                        
        </table>
    </div>
</div>

<div class="modal" id="success_DeleteProject_Popup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content p-3 text-center">

            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">
                Deleted Successfully!
            </div>

            <!-- Modal footer -->
            <div class="text-center" id="btnCloseDeleteProject">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<script>

    $(document).ready(function () {

        var columnIndex = "";
        var columnDirection = "";
        var entries = 10;
        BindProjectDetailsData();

        function BindProjectDetailsData() {
            var table = $("#getProjectData").DataTable();

            if (table) {
                table.destroy();
            }

            var leaveCount = 0;
            $('#getProjectData').DataTable({

                serverSide: true,
                processing: true,
                pageLength: entries,
                ajax: {
                    url: "/ProjectDetails/GetProject",
                    type: 'Get',
                    data: function (d) {
                        var searchFilter = document.getElementById("getProjectData_filter"); // get search div id
                        var searchInput = searchFilter.querySelector("input[type='search']");  // get search div input
                        var searchValue = searchInput.value;  // get search value
                        var leaveEntry = document.getElementById("getProjectData_length"); //get entries div id
                        var entrySelect = leaveEntry.querySelector("select"); //get entries div select
                        entries = entrySelect.value; // get entries value
                        d.sSearch = searchValue; // Pass search query
                        d.iDisplayStart = d.iDisplayStart || 0;
                        d.iDisplayLength = d.iDisplayLength || entries;
                        d.sEcho = d.start;
                        d.ColumnName = columnIndex;
                        d.ColumnDirection = columnDirection;

                    }
                },

                columns: [
                    {

                        data: 'customerCompany',
                        render: function (data, type, row, meta) {
                            if (leaveCount > 5)
                                leaveCount = 1;
                            var className = getClassNameForGrid(leaveCount);
                            leaveCount++;
                            return "<div class='user-card'>" +
                                "<div class='user-avatar " + className + "'><span style='text-transform:uppercase'>" + (row.clientCompanyName)[0] + "</span></div>" +
                                "<div class='user-info'>" +
                                "<span class='tb-lead font-weight-bold'>" + row.clientCompanyName + "</span></div></div>"
                        }
                    },

                    {
                        data: 'name',
                        render: function (data, type, row) {
                            return "<b class='tb-sub text-primary'>" + row.projectName + "</b>"
                        }
                    },

                    {
                        data: 'serviceType',
                        render: function (data, type, row) {
                            return "<b class='badge badge-dim bg-info'>" + row.projectTypeName + "</b>"
                        }
                    },

                    {
                        data: 'description',
                        render: function (data, type, row) {
                            if (row.projectDescription == null) { row.projectDescription = "" } else { var trimNewValue = row.projectDescription.replace(/'/g, "").trim(); }
                            return "<div class='leave-reason'>" +
                                "<p type='button' class='tb-sub font-weight-bold' data-bs-toggle='tooltip' data-bs-placement='bottom' title='" + trimNewValue + "'>" + row.projectDescription + "</p></div>"
                        }
                    },

                    {
                        data: 'technology',
                        render: function (data, type, row) {
                            return "<span class='badge badge-dim bg-primary'>" + row.technologyName + "</span>"
                        }
                    }, 

                    {
                        data: 'null',
                        "orderable": false,
                        render: function (data, type, row) {
                            var html = "<div class='nk-tb-col nk-tb-col-tools py-0 border-0'><ul class='nk-tb-actions gx-1 my-n1'><li class='me-n1'><div class='dropdown'><a href='#' class='dropdown-toggle btn btn-icon btn-trigger' data-bs-toggle='dropdown'><em class='icon ni ni-more-h'></em></a><div class='dropdown-menu dropdown-menu-end'><ul class='link-list-opt no-bdr'><li><a href='javascript:void(0)' id='btnViewProject' data-id=" + row.projectId + "><em class='icon ni ni-eye'></em><span>View</span></a></li>"
                            html += "<li><a href='javascript:void(0)' id='btnUpdate' data-id=" + row.projectId + "><em class='icon ni ni-edit'></em><span>Edit</span></a></li>" +
                                "<li><a href='javascript:void(0)' id='btnDelete' data-id=" + row.projectId + "><em class='icon ni ni-delete'></em><span>Delete</span></a></li>"
                            html += "</ul></div></div></li></ul></div>";
                            return html;
                        }

                    },
                ],

                "columnDefs": [
                    { "width": "300px", "targets": [0, 1, 2, 3, 4] },
                    { "width": "200px", "targets": [5] }                   
                ],

                "createdRow": function (row, data, dataIndex, settings) {
                    // Add custom class to the row
                    $(row).addClass('nk-tb-item');
                    // Add custom classes to each cell in the row if necessary
                    $(row).find('td').addClass('nk-tb-col tb-col');
                },

            });
            // $('[data-bs-toggle="tooltip"]').tooltip();
            $("body").tooltip({ selector: '[data-bs-toggle=tooltip]' });
        }

        $(document).on('click', '.sorting, .sorting_asc, .sorting_desc', function (e) {
            var target = e.target;
            var parent = target.parentNode;
            var index = [].indexOf.call(parent.children, target);

            if ($(this).hasClass('sorting_asc')) {
                columnDirection = 'desc';
            }
            else {
                columnDirection = 'asc'; // Assuming default sorting direction is descending
            }

            columnIndex = $(this).data('id');
        });

    });



    function getClassNameForGrid(input) {
        var className = "";
        switch (input) {
            case 1:
                className = "bg-success";
                break;
            case 2:
                className = "bg-warning";
                break;
            case 3:
                className = "bg-info";
                break;
            case 4:
                className = "bg-blue";
                break;
            case 5:
                className = "bg-pink";
                break;
            case 6:
                className = "bg-danger";
                break;
        }
        return className;
    }  

    $('#getProjectData').on('click', '#btnUpdate', function () {
        var projectId = $(this).data('id');
        PageUtil.goToContent("/ProjectDetails/EditProject?ProjectId=" + projectId);
    });

    $('#getProjectData').on('click', '#btnViewProject', function () {    
        var projectId = $(this).data('id');
        PageUtil.goToContent("/ProjectDetails/ViewProject?ProjectId=" + projectId);
    });
    //-------------------------------------------------------------------------------------------------------------------------------------------------------

    //Delete Project

    $('#getProjectData').on('click', '#btnDelete', function () {
        Swal.fire({
            title: 'Are you sure want to delete?',
            // text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#1ee0ac',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                var id = $(this).data("id")
                var project = {
                    ProjectId: id
                };
                $('.loader').removeClass('d-none');
                $.ajax({
                    type: "POST",
                    url: "/ProjectDetails/DeleteProject",
                    data: project,
                    success: (Result) => {
                        if (Result == true) {
                            swal.fire({
                                title: "Deleted Successfully!",
                                text: "",
                                icon: "success",
                                allowOutsideClick: false  // This prevents closing on outside click
                            }).then((resultvalue) => {
                                window.location.href = "/ProjectDetails/Project";
                            });
                            
                        }
                        else {
                            swal.fire({
                                title: "Something error",
                                text: "",
                                icon: "error",
                                allowOutsideClick: false  // This prevents closing on outside click
                            }).then((resultValue) => {
                                window.location.href = "/ProjectDetails/Project";
                            });
                            
                        }
                        $('.loader').addClass('d-none');
                    },
                    error: (result) => {
                        $('.loader').addClass('d-none');
                    }
                });
            }
        });

    });
</script>


@* oldcode
---------------------------------------------------------------------------------------------------------------- *@
@*  // $(document).ready(function () {
    //     $('#getProjectData').DataTable({
    //         "bInfo": true,
    //         "paging": true
    //     });
    // });

    // $(document).ready(function () {
    //     $.fn.dataTable.moment('DD/MM/YYYY');

    //     $('#getProjectData').DataTable({
    //         "bInfo": true,
    //         "paging": true,
    //         order: [
    //             [6, "desc"]
    //         ],
    //         columnDefs: [

    //             {
    //                 target: 5,
    //                 visible: false
    //             }
    //         ]

    //     });

    // }); *@