<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../../../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An application that an organization can use to manage HR related activities.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="./images/favicon.ico">
    <!-- Page Title  -->
    <title>Error</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="./assets/css/dashlite.css?ver=3.1.1">
    <link rel="stylesheet" href="./assets/css/theme.css?ver=3.1.1">
</head>

<body class="nk-body bg-white npc-default pg-error">
    <div class="nk-app-root">
        <div class="nk-main ">
            <div class="nk-wrap nk-wrap-nosidebar">
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle wide-xs mx-auto">
                        <div class="nk-block-content nk-error-ld text-center"> 
                            <p class="nk-error-text">OOPS! Something went wrong! We are working to get the error fixed. Please try again after sometime.</p>
                            <a href="/Login/Login" class="btn btn-lg btn-primary mt-2">Back To Login Page</a>
                        </div>
                    </div><!-- .nk-block -->
                </div>               
            </div>           
        </div>        
    </div>
 </body>
    <!-- JavaScript -->
    <script src="./assets/js/bundle.js?ver=3.1.1"></script>
    <script src="./assets/js/scripts.js?ver=3.1.1"></script>
    <!-- select region modal -->   

</html>
