@using EmployeeInformations.Model.PrivilegeViewModel;
@model List<RoleViewModel>
@{
    ViewBag.Title = "Role";
    Layout = "_Layout";
}


<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Role Permission Details</h3>
        </div><!-- .nk-block-head-content -->        
    </div><!-- .nk-block-between -->
</div>


<div class="card card-bordered card-preview">
    <div class="card-inner table-card">
        <table class="display employee-holiday-table mb-3 no-sorting" style="width:100%" data-auto-responsive="false" id="getRoleData">      
            <thead>
                <tr class="nk-tb-item table-header">
                    <th class="nk-tb-col"><span class="sub-text">Role Name</span></th>
                    <th class="nk-tb-col"><span class="sub-text">Status</span></th>
                    <th class="nk-tb-col tb-col"><span class="sub-text">Action</span></th>
                    @*<th class="nk-tb-col nk-tb-col-tools">
                        <div class="nk-tb-col py-0 border-0">
                            <ul class="nk-tb-actions gx-1 my-n1">
                                <li class="me-n1">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>

                                    </div>
                                </li>
                            </ul>
                            Action
                        </div>
                    </th>*@
                </tr>
            </thead>

            <tbody>
                @if(Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr class="nk-tb-item">
                            <td class="nk-tb-col tb-col">
                                <b class="tb-sub text-primary">@item.RoleName</b>
                            </td>
                            @if (item.IsActive)
                            {
                                <td class="nk-tb-col tb-col">
                                    <b class="badge badge-dot bg-success">Active</b>
                                </td>
                            }
                            else
                            {
                                <td class="nk-tb-col tb-col">
                                    <b class="badge badge-dot bg-danger">In Active</b>
                                </td>
                            }
                            <td class="nk-tb-col tb-col">

                                <div class="nk-tb-col nk-tb-col-tools py-0 border-0">
                                    <ul class="nk-tb-actions gx-1 my-n1">
                                        <li class="me-n1">
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="javascript:void(0)" class="btnUpdate" data-id="@item.RoleId"><em class="icon ni ni-edit"></em><span>Edit</span></a></li>
                                                        @*<li><a href="javascript:void(0)" id="btnDelete" data-id="@item.RoleId"><em class="icon ni ni-delete"></em><span>Delete</span></a></li>                                                    *@
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <!-- .nk-tb-item  -->
                    }
                }                            
            </tbody>
        </table>
    </div>
 </div>

<div class="modal" id="success_DeleteClient_Popup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">
                Client Deleted Successfully!
            </div>

            <!-- Modal footer -->
            <div class="modal-footer" id="btnCloseDeleteClient">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('#getRoleData').DataTable({
            "bInfo": true,
            "paging": true,
        });
    });

   // Get id for update

    $('.btnUpdate').click(function () {
       
        var roleId = $(this).data('id');
        PageUtil.goToContent("/Permission/EditRole?roleId=" + roleId);

    });

</script>