@using EmployeeInformations.Common
@using EmployeeInformations.Model.AssetViewModel;
@model List<AllAssets>
@{
    ViewBag.Title = "Asset";
    Layout = "_Layout";
}

<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Assets Details</h3>
        </div><!-- .nk-block-head-content -->
        <div class="d-flex mb-1">
            @Html.ActionLink("Create","CreateAllAssets","Asset", null, new { @class = "btn btn-primary ml-auto mt-auto mb-auto btn-sm" })
        </div>
    </div><!-- .nk-block-between -->
</div>


<div class="card card-bordered card-preview">
    <div class="card-inner table-card">        
        <table class="display employee-holiday-table mb-3 no-sorting" style="width:100%" data-auto-responsive="false" id="getAssetCategory">           
            <thead>
                <tr class="nk-tb-item table-header">
                    <th class="nk-tb-col" data-id="AssetCode"><span class="sub-text">Asset Code</span></th>
                    <th class="nk-tb-col" data-id="CategoryName"><span class="sub-text">Category</span></th>
                    <th class="nk-tb-col" data-id="TypeName"><span class="sub-text">Asset Type</span></th>
                    <th class="nk-tb-col" data-id="BrandType"><span class="sub-text">Brand</span></th>


                    @*<th class="nk-tb-col"><span class="sub-text">Description</span></th>*@
                    @* <th class="nk-tb-col"><span class="sub-text">Entity</span></th>*@


                    <th class="nk-tb-col" data-id="BranchLocationName"><span class="sub-text">Location</span></th>


                    @*<th class="nk-tb-col"><span class="sub-text">Purchase Date</span></th>
                    <th class="nk-tb-col"><span class="sub-text">Warranty Date</span></th>
                    <th class="nk-tb-col"><span class="sub-text">Return Date</span></th>
                    <th class="nk-tb-col"><span class="sub-text">Asset Status</span></th>*@


                    <th class="nk-tb-col" data-id="EmployeeName"><span class="sub-text">Assigned To</span></th>
                    <th class="nk-tb-col" data-id="IssueDate"><span class="sub-text">Issue Date</span></th>
 

                    @*<th class="nk-tb-col"><span class="sub-text">Remark</span></th>*@

                    <th class="nk-tb-col tb-col"><span class="sub-text">Action</span></th> 

                    @*<th class="nk-tb-col nk-tb-col-tools">
                        <div class="nk-tb-col py-0 border-0">
                            <ul class="nk-tb-actions gx-1 my-n1">
                                <li class="me-n1">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                    </div>
                                </li>
                            </ul>
                            Action
                        </div>
                    </th>*@
                </tr>
            </thead>            
        </table>
    </div>
</div>

<div class="modal" id="success_DeleteAsset_Popup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content p-3 text-center">

            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">
                Deleted Successfully!
            </div>

            <!-- Modal footer -->
            <div class="text-center" id="btnCloseDeleteAsset">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script>   
    $(document).ready(function () {

        var columnIndex = "";
        var columnDirection = "";
        var entries = 10;
        BindAssetData();
        function BindAssetData() {
            var table = $("#getAssetCategory").DataTable();
            if (table) {
                table.destroy();
            }
            var count = 0;

            $('#getAssetCategory').DataTable({
                serverSide: true,
                processing: true,
               
                ajax: {
                    url: "/Asset/GetAllAssets",
                    type: 'Get',
                    data: function (d) {

                        var searchFilter = document.getElementById("getAssetCategory_filter"); // get search div id
                        var searchInput = searchFilter.querySelector("input[type='search']");  // get search div input
                        var searchValue = searchInput.value;  // get search value
                        var assetEntry = document.getElementById("getAssetCategory_length"); //get entries div id
                        var entrySelect = assetEntry.querySelector("select"); //get entries div select
                        entries = entrySelect.value; // get entries value
                        d.sSearch = searchValue;                       
                        // Pass pagination parameters
                        d.iDisplayStart = d.iDisplayStart || 0;
                        d.iDisplayLength = d.iDisplayLength || entries;
                        d.sEcho = d.start;
                        d.columnDirection = columnDirection;
                        d.ColumnName = columnIndex;                     
                    }
                },
                columns: [
                    {
                        data: 'assetCode',
                        render: function (data, type, row) {
                            if (count > 5)
                                count = 1;
                            var className = getClassNameForGrid(count);
                            count++;
                            return "<div class='user-card'><div class='user-avatar " + className + "'><span style='text-transform:uppercase'>" + (row.assetCode)[0] + "</span></div><div class='user-info'><div class='user-info'><span class='tb-lead font-weight-bold'>" + row.assetCode + "</span></div><span> " + row.assetName + "</span></div></div>";
                        }
                    },

                    {
                        data: 'category',
                        render: function (data, type, row) {
                            return "<td class='nk-tb-col tb-col'><span>" + row.categoryName + "</span></td>"
                        }
                    },

                    {
                        data: 'assetType',
                        render: function (data, type, row) {
                            return "<td class='nk-tb-col tb-col'><b class='text-info'> " + row.typeName + "</b></td>"
                        }
                    },

                    {
                        data: 'brand',
                        render: function (data, type, row) {
                            return "<td class='nk-tb-col tb-col'><span>" + (row.brandType) + "</span></td>"                          
                        }
                    },

                    {
                        data: 'Location',
                        render: function (data, type, row) {
                            return "<td class='nk-tb-col tb-col'><span>" + (row.branchLocationName == null ? "" : row.branchLocationName) + "</span></td>"
                        }
                    },

                    {
                        data: 'assigned To',
                        render: function (data, type, row) {
                            return "<td class='nk-tb-col tb-col'><span class='badge badge-dim bg-primary'>" + row.employeeName + "</span></td>"
                        }
                    },
                    {
                        data: 'issue Date',
                        render: function (data, type, row) {
                            return "<td class='nk-tb-col tb-col'><span class='badge badge-sm badge-dot has-bg bg-warning'>" + (row.issueDate == null ? "" : dateFormat(row.issueDate)) + "</span></td>"
                        }
                    },
                    {
                        data: 'null',
                        "orderable": false,
                        render: function (data, type, row) {
                            return "<div class='nk-tb-col nk-tb-col-tools py-0 border-0'><ul class='nk-tb-actions gx-1 my-n1'><li class='me-n1'><div class='dropdown'><a href='#' class='dropdown-toggle btn btn-icon btn-trigger' data-bs-toggle='dropdown'><em class='icon ni ni-more-h'></em></a><div class='dropdown-menu dropdown-menu-end'><ul class='link-list-opt no-bdr'><li><a href='javascript:void(0)' class='btnUpdate' data-id=" + row.allAssetsId + "><em class='icon ni ni-edit'></em><span>Edit</span></a></li><li><a href='javascript:void(0)' id='btnDelete' data-id=" + row.allAssetsId + "><em class='icon ni ni-delete'></em><span>Delete</span></a></li><li><a href='javascript:void(0)' class='btnView' data-id=" + row.allAssetsId + "><em class='icon ni ni-eye'></em><span>View</span></a></li> </ul></div></div></li></ul></div>";
                        }
                    }
                ],

                "columnDefs": [
                    { "width": "300px", "targets": [0, 1, 2, 3, 4, 5, 6] },
                ],
              
                "createdRow": function (row, data, dataIndex, settings) {
                    // Add custom class to the row
                    $(row).addClass('nk-tb-item');
                    // Add custom classes to each cell in the row if necessary
                    $(row).find('td').addClass('nk-tb-col tb-col');
                },

            });
        }        

        $(document).on('click', '.sorting, .sorting_asc, .sorting_desc', function (e) {
            var target = e.target;
            var parent = target.parentNode;
            var index = [].indexOf.call(parent.children, target);

            if ($(this).hasClass('sorting_asc')) {
                columnDirection = 'desc';
            }
            else {
                columnDirection = 'asc'; // Assuming default sorting direction is descending
            }
            columnIndex = $(this).data('id');
        });
    });

    function getClassNameForGrid(input) {
        var className = "";
        switch (input) {
            case 1:
                className = "bg-success";
                break;
            case 2:
                className = "bg-warning";
                break;
            case 3:
                className = "bg-info";
                break;
            case 4:
                className = "bg-blue";
                break;
            case 5:
                className = "bg-pink";
                break;
            case 6:
                className = "bg-danger";
                break;
        }
        return className;
    }

    function dateFormat(issueDate) {

        var dateObject = new Date(issueDate);
        var day = ("0" + dateObject.getDate()).slice(-2);
        var month = ("0" + (dateObject.getMonth() + 1)).slice(-2);
        var year = dateObject.getFullYear();
        var formattedDate = day + "/" + month + "/" + year;
        return formattedDate;
    }

    $('#getAssetCategory').on('click', '.btnUpdate', function () {
        var allAssetsId = $(this).data('id');
        PageUtil.goToContent("/Asset/EditAssets?AllAssetsId=" + allAssetsId);
    });

    $('#getAssetCategory').on('click', '.btnView', function () {  
        var allAssetsId = $(this).data('id');
        PageUtil.goToContent("/Asset/ViewAllAsset?AllAssetsId=" + allAssetsId);

    });
    //------------------------------------------------------------------------------------------------------------------------------------------------------------

    // Delete Asset

    $('#getAssetCategory').on('click', '#btnDelete', function () {
        Swal.fire({
            title: 'Are you sure want to delete?',
            //text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#1ee0ac',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                var id = $(this).data("id")
                var allAssets = {
                    AllAssetsId: id
                };
                $('.loader').removeClass('d-none');
                
                $.ajax({
                    type: "POST",
                    url: "/Asset/DeleteAllAssets",
                    data: allAssets,
                    success: (Result) => {
                        if (Result == true) {                                                         
                            Swal.fire({
                                title: 'Deleted Successfully!',
                                text: "",
                                icon: 'success',
                                allowOutsideClick: false
                            }).then((result) => {
                                window.location.href = "/Asset/AllAssets";
                            });
                        }
                        else{                           
                            Swal.fire({
                                title: 'Something error',
                                text: "",
                                icon: 'error',
                                allowOutsideClick: false
                            }).then((result) => {
                                window.location.href = "/Asset/AllAssets";
                            });
                        }

                        $('.loader').addClass('d-none');
                    },
                    error: (Result) => {
                        $('.loader').addClass('d-none');
                    }
                });
            }
        })
    });


    @*  $(document).ready(function () {

        $.fn.dataTable.moment('DD/MM/YYYY');

        $('#getAssetCategory').DataTable({
            "bInfo": true,
            "paging": true,
            order: [
                [6, "desc"]
            ],
        });
    }); *@   
</script>
