@using EmployeeInformations.Model.EmployeesViewModel;
@using Microsoft.AspNetCore.Http;
@model ChangePasswordViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "EmployeeChangePassword";
    var roleId = Context.Session.GetInt32("RoleId");
}
<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Change Password</h3>
        </div><!-- .nk-block-head-content -->
    </div><!-- .nk-block-between -->
</div>
<div class="card card-bordered card-preview">
    <div class="card-inner leave-datatable">

<div class="row">
    <input type="hidden" class="form-control" id="empId" value="@Model.EmpId">
    <div class="col-lg-4">
        <div class="form-group">
                    <lable class="form-label">Current Password <span class="required" style="color: #FF0000">*</span></lable>

            <input type="password" class="form-control" id="currentPassword" value="">
            <span class="error text-danger" id="errValid-currentPassword"></span>
            <span class="error text-danger" id="errVerify-currentPassword" style="display:none;">password not match</span>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
                    <lable class="form-label">New Password<span class="required" style="color: #FF0000">*</span></lable>
            <input type="password" class="form-control" id="newPassword" value="">
            <span class="error text-danger" id="errValid-newPassword"></span>
            <span class="error text-danger" id="errValid-samenewPassword"></span>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
                    <lable class="form-label">ReEnter New Password<span class="required" style="color: #FF0000">*</span></lable>
            <input type="password" class="form-control" id="reEnternewpassword" value="">
            <span class="error text-danger" id="errValid-reEnternewpassword"></span>
            <span class="error text-danger" id="errValid-samereEnternewpassword"></span>
        </div>
    </div>
    <div class="col-lg-12 d-flex">
        <input type="button" class="btn btn-primary ml-auto mr-3" id="btnsave" value="Save" />
        <input type="button" class="btn btn-danger" id="btnCancel" value="Cancel" />
    </div>

</div>
</div>
</div>
<div class="modal" id="success_Msg_Popup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content p-3 text-center">

            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">
                <h4 class="nk-modal-title"> Password Updated Successfully!</h4> 
            </div>

            <!-- Modal footer -->
            <div class="text-center" id="btnchangepassword">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    //Keyup Summary
    $("#currentPassword,#newPassword,#reEnternewpassword").keyup(function() {
        var isValid = true;

        $("#errValid-currentPassword").text(" ");
        $("#errValid-newPassword").text(" ");
        $("#errValid-reEnternewpassword").text(" ");
        $("#errValid-samenewPassword").text(" ");
        $("#errValid-samereEnternewpassword").text(" ");

        if ($("#currentPassword").val() == "") {
            $("#errValid-currentPassword").text("Current Password field is required");
            isValid = false;
        }

        if ($("#newPassword").val() == "") {
            $("#errValid-newPassword").text("New Password field is requried");
            isValid = false;
        }

        if ($("#reEnternewpassword").val() == "") {
            $("#errValid-reEnternewpassword").text("ReEnter New Password field is requried");
            isValid = false;
        }

        if ($("#newPassword").val() != "" && $("#reEnternewpassword").val() != "") {
            if ($("#newPassword").val() != $("#reEnternewpassword").val()) {

                $("#errValid-samereEnternewpassword").text("Re-enter password and new password does not matched");
                isValid = false;
            }
        }

    });

    //Password Change
    $("#btnsave").click(function() {
        var isValid = true;
        var formData = new FormData();
        var isempIdVerify = true;

        $("#errVerify-currentPassword").hide();
        $("#errValid-currentPassword").text(" ");
        $("#errValid-newPassword").text(" ");
        $("#errValid-reEnternewpassword").text(" ");
        $("#errValid-samenewPassword").text(" ");
        $("#errValid-samereEnternewpassword").text(" ");

        if ($("#currentPassword").val() == "") {
            $("#errValid-currentPassword").text("Current Password field is required");
            isValid = false;
        }

        if ($("#newPassword").val() == "") {
            $("#errValid-newPassword").text("New Password field is requried");
            isValid = false;
        }

        if ($("#reEnternewpassword").val() == "") {
            $("#errValid-reEnternewpassword").text("ReEnter New Password field is requried");
            isValid = false;
        }

        if ($("#newPassword").val() != "" && $("#reEnternewpassword").val() != "") {
            if ($("#newPassword").val() != $("#reEnternewpassword").val()) {

                $("#errValid-samereEnternewpassword").text("Re-enter password and new password does not matched");
                isValid = false;
            }
        }


        var empId = $("#empId").val();
        var currentPassword = $("#currentPassword").val();
        var newPassword = $("#newPassword").val();
        var reEnternewpassword = $("#reEnternewpassword").val();

        formData.append("empId", empId);
        formData.append("currentPassword", currentPassword);
        formData.append("newPassword", newPassword);
        formData.append("reEnternewpassword", reEnternewpassword);
       
        if (isValid) {

            var url = "/Employees/GetChangePassword";
            $.ajax({
                type: "POST",
                url: url,
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function() {
                    $('.loader').removeClass('d-none');
                },
                success: function(result) {

                    if (result) {

                        var url = "/Employees/UpdateEmployeeCurrentPassword";

                        $.ajax({
                            type: "POST",
                            url: url,
                            data: formData,
                            contentType: false,
                            processData: false,
                            beforeSend: function() {
                                $('.loader').removeClass('d-none');
                            },
                            success: function(result) {
                               
                                $("#success_Msg_Popup").show();                               
                                $("#btnchangepassword").click(function () {
                                    var urlToRedirect = '@Url.Action("Login","Login")';
                                    window.location.href = urlToRedirect;
                                });
                                
                            },
                            complete: function () {
                                $('.loader').addClass('d-none');
                            }
                        });

                    }
                    else {
                        $('.loader').addClass('d-none');
                        $("#errVerify-currentPassword").show();
                        return false;
                    }
                },
                complete: function () {
                   // $('.loader').addClass('d-none');
                }
            });

        }
        else {
            return false;
        }
    });

    $("#btnCancel").click(function() {
        if (@roleId == 1 || @roleId == 2) {
            var urlToRedirect = '@Url.Action("EmployeesInfo","Employees")';
            window.location.href = urlToRedirect;
        }
        else {
            var urlToRedirect = '@Url.Action("EditEmployees","Employees")';
            window.location.href = urlToRedirect;
        }
    });

</script>